
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start ">
            <a href="javascript:void(0);" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Trang chủ</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start ">
                    <a ui-sref="admin" class="nav-link ">
                        <i class="icon-bar-chart"></i>
                        <span class="title">Dashboard 1</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="dashboard_2.html" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Dashboard 2</span>
                        <span class="badge badge-success">1</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="dashboard_3.html" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Dashboard 3</span>
                        <span class="badge badge-danger">5</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Hệ thống</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  active open">
                    <a ui-sref="products" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Nhóm người dùng</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a ui-sref="products_categories" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Quyền</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="layout_footer_fixed.html" class="nav-link ">
                        <i class="icon-user"></i>
                        <span class="title">Người dùng</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Sản phẩm</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="layout_footer_fixed.html" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Thêm mới sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item  active open">
                    <a ui-sref="products" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Sản phẩm</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a ui-sref="products_categories" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Danh mục sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="layout_boxed_page.html" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Loại sản phẩm</span>
                    </a>
                </li>
            </ul>
        </li>
       
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-briefcase"></i>
                <span class="title">Tables</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="table_static_basic.html" class="nav-link ">
                        <span class="title">Basic Tables</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="table_static_responsive.html" class="nav-link ">
                        <span class="title">Responsive Tables</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="table_bootstrap.html" class="nav-link ">
                        <span class="title">Bootstrap Tables</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <span class="title">Datatables</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item ">
                            <a href="table_datatables_managed.html" class="nav-link "> Managed Datatables </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_buttons.html" class="nav-link "> Buttons Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_colreorder.html" class="nav-link "> Colreorder Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_rowreorder.html" class="nav-link "> Rowreorder Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_scroller.html" class="nav-link "> Scroller Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_fixedheader.html" class="nav-link "> FixedHeader Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_responsive.html" class="nav-link "> Responsive Extension </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_editable.html" class="nav-link "> Editable Datatables </a>
                        </li>
                        <li class="nav-item ">
                            <a href="table_datatables_ajax.html" class="nav-link "> Ajax Datatables </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="?p=" class="nav-link nav-toggle">
                <i class="icon-wallet"></i>
                <span class="title">Portlets</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-layers"></i>
                <span class="title">Page Layouts</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class=" icon-wrench"></i>
                <span class="title">Custom Layouts</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">eCommerce</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="ecommerce_index.html" class="nav-link ">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ecommerce_orders.html" class="nav-link ">
                        <i class="icon-basket"></i>
                        <span class="title">Orders</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ecommerce_orders_view.html" class="nav-link ">
                        <i class="icon-tag"></i>
                        <span class="title">Order View</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ecommerce_products.html" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Products</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ecommerce_products_edit.html" class="nav-link ">
                        <i class="icon-graph"></i>
                        <span class="title">Product Edit</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-social-dribbble"></i>
                <span class="title">General</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-folder"></i>
                <span class="title">Multi Level Menu</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i> Item 1
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="?p=dashboard-2" target="_blank" class="nav-link">
                                <i class="icon-user"></i> Arrow Toggle
                                <span class="arrow nav-toggle"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-power"></i> Sample Link 1
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-paper-plane"></i> Sample Link 1
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="icon-star"></i> Sample Link 1
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon-camera"></i> Sample Link 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="icon-bar-chart"></i> Item 3
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
